*{
margin:0;
padding: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-image: url("bild2.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: 0px 110px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
list-style: none;
}

a {
text-decoration: none;
}

.header{
min-height: 100vh;
width: 100%;
background-position: center;
background-size: cover;
position: relative;
}

.logo{
display: inline-block;
margin-left: 10px;
}

.nav{
width: 100%;
display: flex;
padding: 0;
align-items: center;
overflow: hidden;
}
/*
.nav img{
width: 5px;

*/

.nav{
width: 100%;
height: 100%;
position: fixed;
background-color: #ff465e;
overflow: hidden;

}
.menu a{
display: block;
padding: 30px;
color: #fff;
}
.menu a:hover{
}
.nav{
max-height: 0;
transition: max-height .5s ease-out;
}

.hamb{
cursor: pointer;
float: right;
padding: 40px 20px;
}/* Style label tag */

.hamb-line {
background: #fff;
display: block;
height: 2px;
position: relative;
width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}
.hamb-line::before{
top: 5px;
}
.hamb-line::after{
top: -5px;
}

.side-menu {
display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav{
max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
transform: rotate(-45deg);
top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
transform: rotate(45deg);
top:0;
}

/* Style the topnav links */
.header a {
text-align: center;
padding: 23px 16px;
font-size: 20px;
}

.topnav{
flex: 1;
text-align: center;
overflow: hidden;
}
/* för att göra en passande distanse mellan namn på menyn*/

/* Responsiveness */
@media (min-width: 768px) {
.nav{
    max-height: none;
    top: 0px;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
}
.menu li{
    float: left;
}
.menu a:hover{
    color: #ff465e;
}

.hamb{
    display: none;
}
}

#content-title {
font-size: 50px;
font-style: italic;
}

/* Change color on hover */
.header a:hover {
/* background-color: rgb(109, 84, 94); */
text-decoration: underline;
text-underline-offset: 10px;
}

.topnav a {
display: block;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/*
för att markera de på röd färg när man stoppar hos 
de och den blir färgläggad efter 0.4 sekunder
*/
.topnav a:hover {
color: red;
transition: 0.4s;
}


.topnav ul {
list-style: none;
display: inline-block;
padding: 10px 13px;
position: relative;
}


.topnav ul a{
text-decoration: none;
font-size: 20px;
}

.topnav ul::after{
width: 0;
height: 3px;
content: '';
background: red;
display: block;
margin:auto;
}


.topnav ul :hover ::after{
width: 100%;
}

.about{
    width: 100%;
    display: flex;
    color: #fff;
    position: absolute;
    top: 30%;
    bottom: 50%;
    text-align: left;
    padding: 10px 30px;
}
    
.about div{
    max-width: 900px;
    margin: 10px 60px 80px;
    padding-left: 30px;
}
    
.about div p{
    margin: 10px 0px 35px;
    font-size: 15px;
    color: #fff;
}

.about a{
    color: red;
    text-decoration: none;
    font-size: 15px;
}


.text{
    flex: 1;
    text-align: center;
    overflow: hidden;
}

.text a{
color: #fff;
text-decoration: none;
font-size: 15px;
}

.text {
color: #fff;
background-color: rgb(199, 61, 61);
border: 0px solid;
border-radius: 40px;
padding: 5px;
width: 10%;
margin-left: 80%;
margin-bottom: 2%;

}


.text :hover{
border: 0px solid ;
padding: 5px;
font-size: 15px;
}


